{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="select" class="col-2">
            <select class="form-select" name="type" id="type">
                <option value="dirigeant" selected>DIRIGEANT</option>
                <option value="societe">SOCIETE</option>
            </select>
        </div>

        <div id="societe" class="col-10" style="display: none">
            <form action="POST">
                <div class="form-group">
                    <label for="nom-societe">Nom Société: </label>
                    <input type="text" class="form-control" name="nom_societe" id="nom-societe">
                </div>

                <div class="form-group">
                    <label for="description-societe">Description Société : </label>
                    <textarea name="description_societe" class="form-control" id="description-societe" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group">
                    <label for="type-societe">Type Société : </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sarl" value="sarl">
                        <label class="form-check-label" for="sarl">SARL</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="eurl" value="eurl">
                        <label class="form-check-label" for="eurl">EURL</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="selarl" value="selarl">
                        <label class="form-check-label" for="selarl">SELARL</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sa" value="sa">
                        <label class="form-check-label" for="sa">SA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sas" value="sas">
                        <label class="form-check-label" for="sas">SAS</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="sasu" value="sasu">
                        <label class="form-check-label" for="sasu">SASU</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="scp" value="scp">
                        <label class="form-check-label" for="scp">SCP</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code-postal">Code Postal : </label>
                    <input type="text" name="code_postal" class="form-control" id="code-postal">
                </div>

                <div class="form-group">
                    <label for="ville">Ville : </label>
                    <input type="text" name="ville" class="form-control" id="ville">
                </div>

                <button type="submit" class="btn btn-primary">Ajouter Société</button>
            </form>
        </div>

        <div id="dirigeant" class="col-10">
            <form action="POST">
                <div class="form-group">
                    <label for="nom">Nom : </label>
                    <input type="text" class="form-control" id="nom">
                </div>
                <div class="form-group">
                    <label for="prenoms">Prénoms : </label>
                    <input type="text" class="form-control" id="prenoms">
                </div>
                <div class="form-group">
                    <label for="sexe">Sexe : </label>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="sexe" id="homme" checked>
                        <label class="form-check-label" for="homme">
                            Homme
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <input class="form-check-input" type="radio" name="sexe" id="femme">
                        <label class="form-check-label" for="femme">
                            Femme
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Ajouter Dirigeant</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        jQuery(document).ready(function ($) {
            $('select[name="type"]#type').change(function () {
                var value = $(this).val();

                if (value === 'dirigeant') {

                }
            });
        });
    </script>
{% endblock %}